<!--###TEMPLATE_DEFAULT### begin
	Help template for the default language, english
-->
<table border=1 cellpadding=4 cellspacing=1 bgcolor="#eeeeee"> 
<tr>
	<td colspan=2>
	
	<div align="center"><h3>Board Codes</h3></div>
	
	You must insert a code in the CODE field of the "List" content element before the board will work. The code tells the board module what to do. You can insert multiple codes by separating them by a comma.<br>
	Here is an example:<br><br>
	<div align="center"><img src="###PATH###/res/icons/fe/board_help1.gif" width="375" height="226" border="2" alt=""></div>

	
	<HR>
	The current display mode has not been set.<br />
	Current CODE = "<b>###CODE###</b>"
	
	</td>
</tr>
<tr>
	<td><strong>LIST_CATEGORIES</strong></td>
	<td>Lists the categories and forums in categories.</td>
</tr>
<tr>
	<td><strong>LIST_FORUMS</strong></td>
	<td>Lists the forums.</td>
</tr>
<tr>
	<td><strong>FORUM</strong></td>
	<td>Lists the content of a forum. If tt_board_uid is set as GET/POST var, that board-item/list is displayed instead.</td>
</tr>
<tr>
	<td><strong>POSTFORM</strong></td>
	<td>Displays a submit-form used to post replies/new threads.</td>
</tr>
<tr>
	<td><strong>POSTFORM_REPLY</strong></td>
	<td>As above, but only if it is a reply.</td>
</tr>
<tr>
	<td><strong>POSTFORM_THREAD</strong></td>
	<td>As above, but only if it is a new thread.</td>
</tr>
</table>
<!--###TEMPLATE_DEFAULT### end -->

