<!DOCTYPE html PUBLIC "-//W3C//DTD html 4.0 Transitional//EN">

<html>
<head>
	<title>Board example template</title>
</head>

<body>






<br>
<br>
<br>
<h1>BOARD TEMPLATES</h1>
<h2>EXAMPLE 3 - LIST style</h2>

<strong>Notice:</strong> <br>
For the full list of markers/subparts, see board_template1.tmpl<br>





<br><br><br><br><hr><br><br><br>
<h3>TEMPLATE_OVERVIEW</h3>
<em>This is the template for the overview of categories and forums.</em><br>
<br>
<br>
<br>


<!-- ###TEMPLATE_OVERVIEW### begin
	This is the template for the overview of categories and forums.
-->
<table cellpadding="4" cellspacing="1" border="0" width="98%">
	<tr bgcolor="#7C848C">
		<td><font face="verdana,arial,helvetica" size="1">&nbsp;</font></td>
		<td><font face="verdana,arial,helvetica" size="1" color="#FFFFFF">&nbsp;</font></td>
		<td nowrap align="center"><b><font face="verdana,arial,helvetica" size="1" color="#FFFFFF">###BOARD_POSTS###</font></b></td>
		<td nowrap align="center"><b><font face="verdana,arial,helvetica" size="1" color="#FFFFFF">###BOARD_THREADS###</font></b></td>
		<td nowrap align="center"><font face="verdana,arial,helvetica" size="1" color="#FFFFFF"><b>###BOARD_LAST_POST###</b></font></td>
	</tr>
	<!-- ###CONTENT###  begin
		This is the part of the template substituted with the list of categories and forums:
	-->
		<!-- ###CATEGORY### begin
			Template for the category title
		-->
			<tr bgcolor="#05437E">
				<td colspan="5"><!--###LINK###--><b><font face="arial, helvetica" size="2" color="#FFFFFF">###CATEGORY_TITLE###</font></b><!--###LINK###--><br><font face="arial, helvetica" size="1" color="#FFFFFF">###CATEGORY_DESCRIPTION###</font></td>
			</tr>
		<!-- ###CATEGORY###  end -->
		<!-- ###FORUM### begin
			Template for the display of forum information
		-->
			<tr>
				<td bgcolor="#CECAC3" align="center" valign="top"><IMG src="clear.gif" width=20 height=1 border="0"></td>
				<td bgcolor="#CECAC3" valign="top"><font face="arial, helvetica" size="2"><b><!--###LINK###-->###FORUM_TITLE###<!--###LINK###--></b></font><br><font face="verdana,arial,helvetica" size="1">###FORUM_DESCRIPTION###</font></td>
				<td bgcolor="#CECAC3" align="center" valign="top" nowrap><font face="arial, helvetica" size="2">###FORUM_POSTS###</font></td>
				<td bgcolor="#CECAC3" align="center" valign="top" nowrap><font face="arial, helvetica" size="2">###FORUM_THREADS###</font></td>
				<td bgcolor="#CECAC3" valign="top" align="center"><!--###LINK_LAST_POST###--><font face="verdana,arial, helvetica" size="1" color="black">###LAST_POST_DATE### ###LAST_POST_TIME###<br>###LAST_POST_AUTHOR###</font><!--###LINK_LAST_POST###--></td>
			</tr>
		<!-- ###FORUM### end-->
		<!-- ###POST### begin
			Template for the display of latest posts of a forum
		-->
			<tr>
				<td bgcolor="#E7E3DB" align="center" valign="top"></td>
				<td bgcolor="#E7E3DB" valign="top"><!--###LINK###--><font face="verdana,arial, helvetica" size="1" color="black"><b>###POST_TITLE###</b></font><!--###LINK###--><br><font face="verdana,arial,helvetica" size="1">###POST_CONTENT###</font></td>
				<td bgcolor="#E7E3DB" align="center" valign="top" nowrap><font face="verdana,arial, helvetica" size="1">###POST_REPLIES###</font></td>
				<td bgcolor="#E7E3DB" align="center" valign="top" nowrap><font face="verdana,arial, helvetica" size="1">&nbsp;</font></td>
				<td bgcolor="#E7E3DB" valign="top" align="center"><font face="verdana,arial, helvetica" size="1">###POST_AGE### ###BOARD_AGO### </font><br><font face="arial, helvetica" size="1">###BOARD_BY### ###POST_AUTHOR###</font></td>
			</tr>
		<!-- ###POST### end-->
	<!-- ###CONTENT###  end -->
</table>
<!-- ###TEMPLATE_OVERVIEW### end -->





<br><br><br><br><hr><br><br><br>
<h3>TEMPLATE_FORUM</h3>
<em>Template for listing of items in a single forum.</em><br>
<br>
<br>
<br>

<!-- ###TEMPLATE_FORUM### begin -->
<table border="0" cellpadding="4" border="0" cellspacing="1" width="98%">
	<tr bgcolor="#7C848C">
		<td align="center" width="100%"><font face="verdana,arial" size="1" color="white"><b>###BOARD_SUBJECT###</b></font></td>
		<td align="center" nowrap><font face="verdana,arial" size="1" color="white"><b>###BOARD_THREAD_STARTER###</b></font></td>
		<td align="center"><font face="verdana,arial" size="1" color="white"><b>###BOARD_REPLIES###</b></font></td>
		<td align="center" nowrap><font face="verdana,arial" size="1" color="white"><b>###BOARD_LAST_POST###</b></font></td>
	</tr>
	<!-- ###CONTENT### begin -->
	<!--###POST### begin -->
		<tr>
			<td bgcolor="#E7E3DB" valign="top"><font face="verdana,arial" size="1"><!--###LINK###--><b>###POST_TITLE###</b><!--###LINK###--><br>###POST_CONTENT###</font></td>
			<td bgcolor="#E7E3DB" align="center" valign="top"><font face="verdana,arial" size="1">###POST_AUTHOR###</font></td>
			<td bgcolor="#E7E3DB" align="center" valign="top"><font face="verdana,arial" size="1">###POST_REPLIES###</font></td>
			<td bgcolor="#E7E3DB" align="center" valign="top"><font face="verdana,arial" size="1"><!--###LINK_LAST_POST###-->###LAST_POST_AGE###<!--###LINK_LAST_POST###--></font></td>
		</tr>
	<!--###POST### end -->
	<!-- ###CONTENT###  end -->
</table>
<!-- ###TEMPLATE_FORUM### end -->








<br><br><br><br><hr><br><br><br>
<h3>TEMPLATE_THREAD</h3>
<em>Template for the listing of a the posts in a thread.</em><br>


<!-- ###TEMPLATE_THREAD### begin
	Template for the listing of a the posts in a thread
-->
<table width="98%" border="0" cellspacing="1" cellpadding="4">
	<tr>
		<td colspan=2><!--###LINK_BACK_TO_FORUM###--><font face="verdana,arial" size="1" color="black"><b>&lth; ###BOARD_BACK_TO_FORUM###</b></font><!--###LINK_BACK_TO_FORUM###--></td>
	</tr>
	<tr bgcolor="#7C848C">
		<td align="center" nowrap><font face="verdana,arial" size="1" color="white"><b>###BOARD_AUTHOR###:</b></font></td>
		<td align="center" nowrap><font face="verdana,arial" size="1" color="white"><b>###BOARD_CONTENT###:</b></font></td>
	</tr>
	<!-- ###CONTENT###  begin -->
		<!--###POST### begin -->
			<tr bgcolor="#E7E3DB">
				<td nowrap valign="top"><font face="verdana,arial,helvetica" size="1">###POST_DATE### ###POST_TIME### &nbsp;&nbsp;</font></td>
				<td width="80%"><font face="verdana,arial,helvetica" size="2"><b>###POST_TITLE###</b></font></td>
			</tr>
			<tr bgcolor="#E7E3DB">
				<td valign="top"><font face="verdana,arial,helvetica" size="1">###BOARD_AUTHOR###:<br><b><a href="mailto:###POST_AUTHOR_EMAIL###">###POST_AUTHOR###</a></b></font></td>
				<td valign="top" width="80%"><font face="verdana,arial,helvetica" size="1">###POST_CONTENT###</font></td>
			</tr>
		<!--###POST### end -->
		<!--###POST_1### begin -->
			<tr bgcolor="#CECAC3">
				<td nowrap valign="top"><font face="verdana,arial,helvetica" size="1">###POST_DATE### ###POST_TIME### &nbsp;&nbsp;</font></td>
				<td width="80%"><font face="verdana,arial,helvetica" size="2"><b>###POST_TITLE###</b></font></td>
			</tr>
			<tr bgcolor="#CECAC3">
				<td valign="top"><font face="verdana,arial,helvetica" size="1">###BOARD_AUTHOR###:<br><b><a href="mailto:###POST_AUTHOR_EMAIL###">###POST_AUTHOR###</a></b></font></td>
				<td valign="top" width="80%"><font face="verdana,arial,helvetica" size="1">###POST_CONTENT###</font></td>
			</tr>
		<!--###POST_1### end -->
	<!-- ###CONTENT###  end -->
	<tr>
		<td colspan=2><!--###LINK_BACK_TO_FORUM###--><font face="verdana,arial" size="1" color="black"><b>&lt; ###BOARD_BACK_TO_FORUM###</b></font><!--###LINK_BACK_TO_FORUM###--></td>
	</tr>
</table>
<!-- ###TEMPLATE_THREAD### end -->









</body>
</html>
