

<html>
<head>
	<title>Board example template</title>
</head>

<body>

<br>
<br>
<br>
<h1>BOARD TEMPLATES</h1>
<h2>EXAMPLE 2 - TREE style</h2>

<strong>Notice:</strong> <br>
For the full list of markers/subparts, see board_template1.tmpl<br>


<br><br><br><br><HR><br><br><br>
<h3>TEMPLATE_OVERVIEW</h3>+
<em>This is the template for the overview of categories and forums.</em><br>
<br>
<br>


<!-- ###TEMPLATE_OVERVIEW### begin
	This is the template for the overview of categories and forums.
-->
<table width="100%" cellspacing="0" cellpadding="2" border="0">
	<!-- ###CONTENT###  begin
		This is the part of the template substituted with the list of categories and forums:
	-->
		<!-- ###FORUM### begin
			Template for the display of forum information
		-->
	<tr bgcolor="###GC4###">
		<td width="60%"><!--###LINK###-->###GW3B###<strong>###FORUM_TITLE###</strong>###GW3E###<!--###LINK###-->&nbsp;###GW3B###<strong>###FORUM_POSTS###</strong>###GW3E###
		</td>
	</tr>
	<tr bgcolor="###GC2###">
		<td>###GW1B### ###FORUM_DESCRIPTION### ###GW1E###
		</td>
	</tr>
		<!-- ###FORUM### end -->
		<!-- ###POST### begin
			Template for the display of latest posts of a forum
		-->
	<tr bgcolor="###GC1###">
		<td>###IMAGE_NEW###<!-- ###LINK### begin -->###GW1B### ###POST_TITLE### ###GW1E###<!-- ###LINK### end --></td>
	</tr>
		<!-- ###POST### end -->
		<!-- ###POST_1### begin
			See POST marker, this is the alternative layout used every second time.
		-->
	<tr bgcolor="###GC2###">
		<td>###IMAGE_NEW###<!-- ###LINK### begin -->###GW1B### ###POST_TITLE### ###GW1E###<!-- ###LINK### end --></td>
	</tr>
		<!-- ###POST_1### end -->
	<tr>
		<td>&nbsp;</td>
	</tr>
	<!-- ###CONTENT### end -->
</table>
<!-- ###TEMPLATE_OVERVIEW### end -->



<br><br><br><br><hr><br><br><br>
<h3>TEMPLATE_FORUM</h3>
<em>Template for listing of items in a single forum.</em><br>
<br>
<br>
<br>


<!-- ###TEMPLATE_FORUM### begin -->
<table width="100%" cellspacing="0" cellpadding="0" border="0">

	<tr class="tx-ttboard-list-row-forum">
        <td class="tree_cell_header_forum" colspan="3">###GW1B### ###FORUM_TITLE######GW1E###</td>
    </tr>
    <tr><td><!-- ###LINK_PREV### begin --><!-- ###LINK_PREV### end --></td><td colspan="8"><!-- ###LINK_BROWSE### begin -->[ ###BROWSE_LINKS### ]<!-- ###LINK_BROWSE### end--></td><td></td></tr>
	<tr class="tx-ttboard-catlistheader-forum">
		<td class="tx-ttboard-tree-cell-header-forum" bgcolor="###GC3###" width="40%">###GW3B### ###BOARD_TOPICS###: ###GW3E###</td>
		<td class="tx-ttboard-tree-cell-header-forum" bgcolor="###GC3###" width="30%">###GW3B### ###BOARD_AUTHOR###: ###GW3E###</td>
		<td class="tx-ttboard-tree-cell-header-forum" bgcolor="###GC3###" width="30%">###GW3B### ###BOARD_DATE###: ###GW3E###</td>
	</tr>
	<!-- ###CONTENT###  begin -->
    <!--###POST### begin -->
        <tr class="tx-ttboard-tree-rows">
            <td bgcolor="###GC1###">
###POST_THREAD_CODE###<!-- ###LINK### begin -->###GW1B###<strong>###POST_TITLE###</strong>###GW1E###<!-- ###LINK### end --></td>
            <td bgcolor="###GC1###">###GW2B### ###POST_AUTHOR### ###GW2E###</td>
            <td bgcolor="###GC1###">###GW2B### ###POST_DATE### - ###POST_AGE### ###GW2E###</td>
        </tr>
    <!--###POST### end -->
    <!--###POST_1### begin -->
        <tr class="tx-ttboard-tree-rows">
            <td bgcolor="###GC2###">###POST_THREAD_CODE###<!-- ###LINK### begin -->###GW1B###<strong>###POST_TITLE###</strong>###GW1E###<!-- ###LINK### end --></td>
            <td bgcolor="###GC2###" >###GW2B### ###POST_AUTHOR### ###GW2E###</td>
            <td bgcolor="###GC2###" >###GW2B### ###POST_DATE### - ###POST_AGE### ###GW2E###</td>
        </tr>
    <!--###POST_1### end -->
    <!--###POST_ACTIVE### begin -->
        <tr >
            <td>###POST_THREAD_CODE###<!-- ###LINK### begin -->###GW1B###<strong>###POST_TITLE###</strong>###GW1E###<!-- ###LINK### end --></td>
            <td>###GW2B### ###POST_AUTHOR### ###GW2E###</td>
            <td>###GW2B### ###POST_DATE### - ###POST_AGE### ###GW2E###</td>
        </tr>
    <!--###POST_ACTIVE### end -->
    <!-- ###CONTENT###  end -->
 <tr><td colspan="3">&nbsp;</td></tr>

<form action="###FORM_URL###" method="POST" name="tt-board-search">
	<tr>
		<td class="tx-ttboard-search-forum" colspan=3><strong>###BOARD_SEARCH###: </strong><input type="text" name="###SEARCH_NAME###" value="###SEARCH_WORD###">	<input type="submit" id="boardSearchSubmitId" value="###BUTTON_SEARCH###">
		</td>
	</tr>
</form>

</table>
<!-- ###TEMPLATE_FORUM### end -->


<br><br><br><br><HR><br><br><br>
<h3>TEMPLATE_THREAD</h3>
<em>Template for the listing of a the posts in a thread.</em><br><br>
<br>
<br>



<!-- ###TEMPLATE_THREAD### begin
	Template for the listing of a the posts in a thread
-->

	<!-- ###CONTENT###  begin -->
		<!--###POST### begin -->
    <table width="100%" cellspacing="0" cellpadding="3" border="0">
        <tr class="tx-ttboard-catlistheader-forum">
                <td colspan="2">  ###GW1B### <strong>###FORUM_TITLE###</strong> ###GW1E### </td>
        </tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr>
            <td class="tx-ttboard-link-back-to-forum" width="40%" align="left" >
                ###GW2B### <strong><!-- ###LINK_BACK_TO_FORUM### begin -->###BOARD_FORUM_LIST###<!-- ###LINK_BACK_TO_FORUM### end -->&nbsp;&nbsp;|&nbsp;&nbsp;<!-- ###LINK_FIRST_POST### begin -->###BOARD_GO_TO_TOP###<!-- ###LINK_FIRST_POST### end -->&nbsp;&nbsp;&nbsp;</strong> ###GW2E###
            </td>
            <td class="tx-ttboard-link-to-forum-message" width="40%" align="right" >###GW2B### <strong>
                <!-- ###LINK_PREV_POST### begin -->###BOARD_PREVIOUS_MESSAGE###<!-- ###LINK_PREV_POST### end -->&nbsp;&nbsp;|
                &nbsp;<!-- ###LINK_NEXT_POST### begin -->###BOARD_NEXT_MESSAGE###<!-- ###LINK_NEXT_POST### end --></strong> ###GW2E### &nbsp;
            </td>
        </tr>
        <tr><td colspan="2">&nbsp;</td></tr>
    </table>
    <table width="100%" cellspacing="0" cellpadding="2" border="0">
        <tr class="tx-ttboard-catlistheader-forum-single">
            <td class="tx-ttboard-tree-cell-header-forum-single">###POST_TITLE###
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td>
            <table width="100%" cellspacing="0" cellpadding="5" border="0">
                <tr class="tx-ttboard-tree-rows">
                    <td  width="50%" >
            ###BOARD_AUTHOR###: ###POST_AUTHOR###
                    </td>
                    <td width="50%"  align="right">
                    ###BOARD_DATE###: ###POST_DATE### ###POST_TIME###
                    </td>
                </tr>
                <tr><td colspan="2">&nbsp;</td></tr>
                <tr class="tx-ttboard-tree-rows">
                    <td class="tx-ttboard-border-forum" colspan="2">
                    ###POST_CONTENT###
                    </td>
                </tr>
                <tr><td colspan="2">&nbsp;</td></tr>
            </table>
        </td>
    </tr>
    </table>
    <table width="100%" cellspacing="0" cellpadding="3" border="0">
        <tr>
            <td width="50%">
            </td>
            <td class="tx-ttboard-link-to-forum-message" width="50%" align="right" >###GW2B### <strong><!-- ###LINK_PREV_THREAD### begin -->###BOARD_PREVIOUS_TOPIC###<!-- ###LINK_PREV_THREAD### end -->&nbsp;&nbsp;|&nbsp;&nbsp;<!-- ###LINK_NEXT_THREAD### begin -->###BOARD_NEXT_TOPIC###<!-- ###LINK_NEXT_THREAD### end --></strong>###GW2E###&nbsp;&nbsp;
            </td>
        </tr>
    </table>
		<!--###POST### end -->
	<!-- ###CONTENT###  end -->
<!-- ###TEMPLATE_THREAD### end -->




</body>
</html>
