<html>
<head>
	<title>Board Template</title>
</head>

<body>






<br>
<br>
<br>
<h1>BOARD TEMPLATES</h1>
<h2>EXAMPLE 1 - LIST style</h2>



<br>
<br>
<br>
<pre>
<strong>Global markers, as set up in TypoScript:</strong>
These are substituted throughout the whole template.

GW1B / GW1E
GW2B / GW2E
GW3B / GW3E

GC1
GC2
GC3
GC4
</pre>

<br><br><br><br><br><br><br><br>
<h3>TEMPLATE_OVERVIEW</h3>
<em>This is the template for the overview of categories and forums. -- Forum preview --</em><br>
<pre>

// Category Markers:
CATEGORY_TITLE
CATEGORY_DESCRIPTION
CATEGORY_FORUMNUMBER

// Category subparts:
LINK


// Forum Markers:
FORUM_POSTS
FORUM_THREADS
FORUM_TITLE
FORUM_DESCRIPTION

LAST_POST_DATE,
LAST_POST_TIME
LAST_POST_AUTHOR
LAST_POST_AGE

// Forum subparts:
LINK
LINK_LAST_POST


// Post Markers:
POST_TITLE  // include link
POST_CONTENT
POST_REPLIES
POST_AUTHOR

POST_DATE,
POST_TIME
POST_AGE

// Post Subparts:
LINK
</pre>
<br>
<br>


<!-- ###TEMPLATE_OVERVIEW### begin
	This is the template for the overview of categories and forums.
-->
<table cellpadding="2"  border="0" width="98%" class="tx-ttboard-overview">
	<tr bgcolor="###GC3###">
		<td>&nbsp;</td>
		<td height="21" valign="middle">###GW3B### <strong>###BOARD_FORUM###</strong> ###GW3E###</td>
    <td valign="middle" align="center"><strong>###GW3B### ###BOARD_POSTS### ###GW3E###</strong></td>
		<td valign="middle" align="center"><strong>###GW3B### ###BOARD_THREADS### ###GW3E###</strong></td>
		<td valign="middle" align="center">###GW3B### <strong>###BOARD_LAST_POST###</strong>###GW3E###</td>
	</tr>
	<!-- ###CONTENT###  begin
		This is the part of the template substituted with the list of categories and forums:
	-->
		<!-- ###CATEGORY### begin
			Template for the category title
		-->
			<tr bgcolor="###GC4###">
				<td colspan="5"><strong>###GW2B###<!-- ###LINK### begin -->###CATEGORY_TITLE###<!-- ###LINK### end -->###GW2E###</strong></td>
			</tr>
		<!-- ###CATEGORY###  end -->
		<!-- ###FORUM### begin
			Template for the display of forum information
		-->
			<tr>
				<td bgcolor="###GC2###" align="center" valign="top"><img src="clear.gif" width=20 height=1 border="0"></td>
				<td bgcolor="###GC2###" valign="top">###GW1B### <strong><!-- ###LINK### begin -->###FORUM_TITLE###<!-- ###LINK### end --></strong>###GW1E###<br>###GW2B### ###FORUM_DESCRIPTION### ###GW2E###</td>
				<td bgcolor="###GC1###" align="center" valign="top">###GW1B### ###FORUM_POSTS### ###GW1E###</td>
				<td bgcolor="###GC2###" align="center" valign="top">###GW1B### ###FORUM_THREADS### ###GW1E###</td>
				<td bgcolor="###GC1###" valign="top" align="center">###GW2B### <!-- ###LINK_LAST_POST### begin -->###BOARD_LAST_POST###!<!-- ###LINK_LAST_POST### end --> ###LAST_POST_DATE### ###LAST_POST_TIME###<br>###LAST_POST_AUTHOR### - ###LAST_POST_AGE### ###GW2E###</td>
			</tr>
		<!-- ###FORUM### end-->
		<!-- ###POST### begin
			Template for the display of latest posts of a forum
		-->
			<tr>
				<td align="center" valign="top">NEW!</td>
				<td valign="top"><!-- ###LINK### begin -->###GW1B### <strong>###POST_TITLE###</strong>###GW1E###<!-- ###LINK### end --><br>###GW2B### ###POST_CONTENT### ###GW2E###</td>
				<td align="center" valign="top">###GW1B### ###POST_REPLIES### ###GW1E###</td>
				<td align="center" valign="top">###GW1B### &nbsp; ###GW1E###</td>
				<td valign="top" align="center">###GW2B### ###POST_DATE###  ###POST_TIME###<br>###POST_AUTHOR### ###GW2E###</td>
			</tr>
		<!-- ###POST### end-->
	<!-- ###CONTENT###  end -->
</table>
<!-- ###TEMPLATE_OVERVIEW### end -->








<br><br><br><br><hr><br><br><br>
<h3>TEMPLATE_FORUM</h3>
<em>Template for listing of items in a single forum.</em><br>
<pre>


// Post Markers
POST_THREAD_CODE
POST_TITLE
POST_CONTENT
POST_REPLIES
POST_AUTHOR

POST_DATE
POST_TIME
POST_AGE

LAST_POST_DATE
LAST_POST_TIME
LAST_POST_AUTHOR
LAST_POST_AGE


// Post Subparts
LINK
LINK_LAST_POST

</pre>
<br>
<br>

<!-- ###TEMPLATE_FORUM### begin
	Template for listing of items in a single forum.
-->
<table border="0" cellpadding="4" border="0" cellspacing="1" width="100%" class="tx-ttboard-table-forum">
    <tr><td><!-- ###LINK_PREV### begin --><!-- ###LINK_PREV### end --></td><td colspan="8"><!-- ###LINK_BROWSE### begin -->[ ###BROWSE_LINKS### ]<!-- ###LINK_BROWSE### end--></td><td></td></tr>
	<tr bgcolor="###GC3###">
        <td><!-- ###LINK_NEXT### begin --><!-- ###LINK_NEXT### end --></td>
		<td colspan="4">###GW3B### <strong>###FORUM_TITLE###</strong> ###GW3E###</td>
		<td align="center">###GW3B### <strong>###BOARD_THREAD_STARTER###</strong> ###GW3E###</td>
		<td align="center">###GW3B### <strong>###BOARD_REPLIES###</strong> ###GW3E###</td>
		<td colspan="3" align="center">###GW3B### <strong>###BOARD_LAST_POST###</strong> ###GW3E###</td>
	</tr>
	<!-- ###CONTENT### begin -->
		<!--###POST### begin -->
			<tr>
				<td align="center" bgcolor="###GC2###" width="20"><img src="###PATH###Resources/Public/Icons/List/thread.gif"></td>
				<td colspan="4" bgcolor="###GC2###">###GW1B### <!--###LINK###-->###POST_TITLE###<!--###LINK###--><br>###GW1E###</td>
				<td align="center" bgcolor="###GC1###">###GW1B### ###POST_AUTHOR### ###GW1E###</td>
				<td align="center" bgcolor="###GC2###">###GW1B### ###POST_REPLIES### ###GW1E###</td>
				<td colspan="3" align="center" bgcolor="###GC2###" >###GW2B### <!-- ###LINK_LAST_POST### begin -->###BOARD_LAST_POST###<!-- ###LINK_LAST_POST### end --> ###LAST_POST_DATE### ###LAST_POST_TIME### ###BOARD_BY### ###LAST_POST_AUTHOR### - ###BOARD_AGE###: ###LAST_POST_AGE### ###GW2E###</td>
			</tr>
		<!--###POST### end -->
	<!-- ###CONTENT###  end -->
	<tr bgcolor="###GC1###">
  	<td colspan="10">
    <form action="###FORM_URL###" method="POST" name="tt-board-search">
  	###GW1B###<strong>Suchen: </strong>###GW1E###<input type="text" name="###SEARCH_NAME###" value="###SEARCH_WORD###">	<input type="submit" id="boardSearchSubmitId" value="###BUTTON_SEARCH###">
  	</form>
    </td>
	</tr>
</table>
<!-- ###TEMPLATE_FORUM### end -->












<br><br><br><br><hr><br><br><br>
<h3>TEMPLATE_THREAD</h3>
<em>Template for the listing of a the posts in a thread.</em><br>
<pre>

// General subparts
LINK_BACK_TO_FORUM
LINK_FIRST_POST
LINK_PREV_THREAD
LINK_NEXT_THREAD

// General markers
FORUM_TITLE

// Post Markers
POST_THREAD_CODE
POST_TITLE
POST_CONTENT
POST_REPLIES
POST_AUTHOR
POST_AUTHOR_EMAIL

POST_DATE,
POST_TIME
POST_AGE

// Post subparts
LINK
LINK_PREV_POST
LINK_NEXT_POST

</pre>
<br>
<br>


<!-- ###TEMPLATE_THREAD### begin
	Template for the listing of a the posts in a thread.
-->
<table width="98%" border="0" cellspacing="1" cellpadding="4" class="tx-ttboard-table-thread">
	<tr bgcolor="###GC3###">
		<td valign="middle" width="175">###GW3B###<strong>###BOARD_AUTHOR###</strong>###GW3E###</td>
		<td valign="middle" width="100%">&nbsp;</td>
	</tr>
	<!-- ###CONTENT###  begin -->
		<!--###POST### begin -->
			<tr bgcolor="###GC1###">
				<td width="175" valign="middle" height="16">###GW2B### ###POST_DATE### ###POST_TIME### ###GW2E###</td>
				<td valign="middle">###GW1B### ###POST_TITLE### ###GW1E###</td>
			</tr>
			<tr bgcolor="###GC1###">
				<td width="175" valign="top">
					###GW1B### <strong>###POST_AUTHOR###</strong>###GW1E###<br>
				</td>
				<td valign="top">
					###GW1B### ###POST_CONTENT### ###GW1E###
				</td>
			</tr>
		<!--###POST### end -->
		<!--###POST_1### begin -->
			<tr bgcolor="###GC2###">
				<td width="175" valign="middle" height="16">###GW2B### ###POST_DATE### ###POST_TIME### ###GW2E###</td>
				<td valign="middle">###GW1B### ###POST_TITLE### ###GW1E###</td>
			</tr>
			<tr bgcolor="###GC2###">
				<td width="175" valign="top">
					###GW1B### <strong>###POST_AUTHOR###</strong>###GW1E###<br>
				</td>
				<td valign="top">
					###GW1B### ###POST_CONTENT### ###GW1E###
				</td>
			</tr>
		<!--###POST_1### end -->
	<!-- ###CONTENT###  end -->
	<tr>
		<td colspan=2><!--###LINK_BACK_TO_FORUM###-->###GW2B### <strong>&lt; BACK TO FORUM</strong> ###GW2E###<!--###LINK_BACK_TO_FORUM###--></td>
	</tr>
</table>
<!-- ###TEMPLATE_THREAD### end -->






</body>
</html>
